<h1>Dictionary</h1>
<table class="table">
    <thead>
        <th>Words</th>
        <th>Letters</th>
    </thead>
    <tbody>
        <% @words.each do |word| %>
        <tr>
            <td>
                <a href="<%= "/dictionary/#{word.id}" %>">
                <%= word.text %>
                </a>
            </td>
            <td>
                <%= word.letters %>
            </td>
            <td>
                <input type="button" id="editbutton"  value="Edit" onclick="window.location.href='<%= "/dictionary/#{word.id}/edit" %>'" />
  </td>
            <td>
                <form action="<%= "/dictionary/#{word.id}" %>" method="post">
	            <input type="hidden" name="_method" value="delete" />
	        <button id="deletebutton" type="submit"><i class="fa fa-trash-o"></i> DELETE</button>
	          </form>
	        </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @words %>

